header {
    background: #f4f4f4;
    padding: 0.5rem;
    text-align: center;
  }

.body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/448/588/original/budget-and-expenses-concept-free-vector.jpg');
}